
html {
  background-color: #f7f7f7;
  background-image: url(images/gradient_1.gif);
  background-repeat: no-repeat;
}

body {
  text-align: center;
}

a {
  color: black;
  text-decoration: none;
}

@font-face {
  font-family: monumentextended;
  src: url(fonts/monumentextended-regular.otf);
}

h1{
  font-family: monumentextended;
  font-size: 80px;
  text-align: center;
}
