* {
  box-sizing: border-box;
  cursor: crosshair;
}

html {
  background-color: #fcf4e9
}


img {
  max-width: 100%;
}

h1 {
  font-family: 'Urbanist', sans-serif;
  font-size: 50px;
  position: relative;
  text-align: center;
  color: #6c4334;
}

p {
  font-family: 'Roboto', sans-serif;
  color: #6c4334;
  text-align: center;
}

.cake-img {
  position: relative;
  width: 30%;
  display: block;
  margin: 0 auto;
}

.sparkle-img {
  position: absolute;
  top: 0;
  left: 450px;
  width: 40%;

}

.parent {
  text-align: center;
}

ul {
  font-family: 'Roboto', sans-serif;
  color: #6c4334;
  display: inline-block;
  text-align: left;
}

body {
  padding-bottom: 50px;
}

.container {
  margin: auto auto;
}
