* {
  box-sizing: border-box;
  cursor: crosshair;
}


html {

  position: fixed;
  background-color: #fcf4e9;
  background-image: linear-gradient(#fadbc7, #fcf4e9);
  background-repeat: no-repeat;
  background-size: contain;
}



img {
  max-width: 100%;
}

h1 {
  font-size: 60px;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 20px;
  font-family: 'Urbanist', sans-serif;
  color: #6c4334
}

.bakery-img {
  position: relative;
  width: 50%;
  display: block;
  margin: 0 auto;
}

.leaf-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
}

p {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: #6c4334;
  letter-spacing: 4px;
}
