* {
  box-sizing: border-box;
  cursor: crosshair;
}

html {
  height: 100%;
  width: 100%;
  background-color: #fcf4e9;
  background-image: linear-gradient(#f4d4c6 90%, #fcf4e9 20%);
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  height: 100%;
  width: 100%;
}

img {
  max-width: 100%;
}

.bakery-img {
  width: 50%;
  position: relative;
  display: block;
  top: 100px;
  left: 5px;
}

.leaf-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
}

h1 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 100px;
  color: #4c3024;
  display: block;
  position: absolute;
  left: 50%;
  top: 18%;
  letter-spacing: 2px;
  line-height: 95px;
}

.intro {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  font-size: 21px;
  color: #4c3024;
  display: block;
  position: absolute;
  left: 50%;
  top: 52%;
}

a {
  color: #4c3024;
  text-decoration: underline dotted;
  text-underline-offset: 2px;
}

a:hover {
  color: #d0904a;
  text-decoration: underline dotted;
  text-underline-offset: 2px;
}

a:visted {
  color: #4c3024;
  text-decoration: underline dotted;
  text-underline-offset: 2px;
}

.button {
  font-family: 'Lemonada', cursive;
  font-size: 16px;
  display: block;
  position: absolute;
  left: 50%;
  top: 65%;
}
