* {
  box-sizing: border-box;
}

body {
  background: black;
  color: white;
}

img {
  max-width: 100%;
}

.object {
  background: cadetblue;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: fixed;
  top: 400px;
  left: 50%;
  transition: background 5s, border-radius 2s, transform 1s;
}

.object:hover {
  background: limegreen;
  transform: scale(2);
  border-radius: 0;
  cursor: cell;
}

.secret-word {
  color: blue;
  cursor: cell;
}

.secret2 {
  max-width: 200px;
  position: fixed;
  bottom: 20px;
  left: 20px;
  display: none;
}

.secret-word:hover .secret2 {
  display: block;
}

.secret-btn {
  background: aliceblue;
  padding: 30px;
  display: inline-block;
}

.secret-btn:hover {
  background-color: salmon;
}

.secret {
  max-width: 200px;
  position: fixed;
  bottom: 20px;
  left: 20px;
  display: none;
}

.secret-btn:hover + .secret {
  display: block;
}
